* {
    margin: 0;
    padding: 0;
    /* border: 0; */
    /* vertical-align: baseline; */
}

.container {
    width: 100%;
    max-width: auto;
    float: none;
    clear: none;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    height: 40px;
    background: rgba(250, 250, 250, 0.7);
    border: 0.01px solid rgba(235, 235, 235, 0.9);
    padding: 15px;
}

.navbar-header {
    /* padding: 15px; */
    width: 40%;
    float: left;
}

a.admin-name {
    text-decoration: none;
    color: gray;
}

.navbar-right-header {
    width: 60%;
    float: left;
}

.navbar-right-header ul {
    list-style: none;
    cursor: pointer;
    margin: 0 15px;   
}

ul.dropdown-navbar-right {
    float: right;
    width: auto;
    position: relative;
}

ul.dropdown-navbar-right ul {
    position: absolute;
    right: -10px;
    display: none;
    width: auto;
    white-space: nowrap;
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

ul.dropdown-navbar-right ul li {
    padding: 5px 15px;
}

ul.dropdown-navbar-right ul li:hover {
    background: rgba(245, 245, 245, 1);
}

.body-container {
    width: 100%;
    clear: both;
}

.left-sidebar {
    width: 25%;
    float: left;
    background: rgba(250, 250, 250, 0.7);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.left-sidebar-box {
    padding-bottom: 55px; 
}
.content {
    width: 75%;
    float: left;
}

.content-box {
    padding: 15px;
}

.left-sidebar-box ul {
    position: relative;
    display: block;
    width: auto;
}

.left-sidebar-box ul li {
    line-height: 40px;
    position: relative;
}

.arrow {
    position: absolute;
    top: 13px;
    right: 1px;
    padding: 0 10px 0 3px;
}

.left-sidebar-box ul a {
    padding:  5px 15px;
    color: rgba(2, 133, 173, 1);
    text-decoration: none;
    font-weight: bold;
}
.left-sidebar-box ul li:hover {
    background:  rgba(0, 0, 0, 0.07);
}

.left-sidebar-box ul ul li a {
    margin-left: 20px;
}

/* Add Product */
.border-bottom {
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.2) ;
    margin: 10px 0;
}

.form-box input[type=text] {
    padding: 3px 10px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 4px ;
}

.form-box select {
    width: 40%;
    padding: 3px 10px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 4px;
}

.form-box input[type=file] {
    margin: 5px 0;
}

.form-box textarea {
    width: 80%;
    border: 1px solid black;
    border-radius: 4px;
}

.form-box input[type=submit] {
    padding: 10px 15px;
    background: rgba(28, 130, 199, 0.9);
    border: 0.01px solid rgba(28, 130, 199, 0.8);
    color: white;
    margin-top: 10px;
}

/* End Add Product */

/* View Product */
.search-bar {
    float: right;
    margin-bottom: 15px;
}

.search-bar input[type=text] {
    padding: 3px 7px;
}

.view-product-box th, .view-product-box td {
    text-align: left;
}

.view-product-box input[type=submit] {
    padding: 10px 15px;
    background: rgba(250, 32, 32, 0.9);
    border: 0.01px solid rgba(250, 32, 32, 0.9);
    color: white;
    margin-top: 10px;
}