.footer {
    position: relative;
    bottom: 0;
    margin-top: 300px;
    height: 250px;
    width: 100%;
    background-color: #ececec;
}
.copyright {
    border-top: 1px solid lightgrey;
    padding-top: 15px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.footer-info {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto auto;
    width: 90%;
}   
.footer-info .store-name {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
}