.cart{
    width: 90%;
    margin: auto auto;
    padding-top: 20px;
}
.cart-product {
    vertical-align: top;
    width: 69%;
    display: inline-block;
}
.cart-cost {
    vertical-align: top;
    width: 30%;
    display: inline-block;
}
.cart .label {
    font-size: 30px;
    padding-bottom: 5px;
    width: 97%;
    border-bottom: 2px solid black;
}
.cart-product table {
    margin-top: 20px;
    width: 97%;
}
.cart-product table th {
    border-bottom: 2px solid gray;
}
.cart-product table td {
    border-bottom: 1px solid gray;
}
.cart-product .rmv-btn:hover {
    background-color: lightgrey;
    cursor: pointer;
}
.cart-product .rmv-btn {
    margin: auto;
    height: 30px;
    width: 30px;
    border: none;
    outline:none;
    background: none;
}
.cart-product .item-img {
    display: inline-block;
    width: 20%;
}
.cart-product .item-name {
    vertical-align: top;
    margin-top: 10%;
    margin-left: 10px;
    display: inline-block;
}
.cart-product .center {
    text-align: center;
}
.cart-product .quantity-btn {
    font-weight: bold;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    margin: 10px 10px;
    border: 0;
}
.cart-product .quantity-btn:hover {
    cursor: pointer;
    background-color: lightgrey;
}
.cart-cost .cost-name{
    margin-top: 20px;
    font-size: 20px;
    width: 97%;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
}
.cart-cost .cost-name .price {
    text-align: right;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.cart-address {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 100px;
}
.cart-address .name {
    font-weight: 500;
    font-size: 20px;
}
.cart-cost .cart-btn {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    display: block;
    text-align: center;
    width: 97%;
    border: 0;
    background-color: #f2f2f2;
    transition: all .2s ease;
}
.cart-cost .cart-btn:hover {
    cursor: pointer;
    color: white;
    background-color: lightskyblue;
}
@media only screen and (max-width: 900px) {
    .cart .cart-product{
        display: block;
        width: 100%;
        margin-bottom: 80px;
    }
    .cart .cart-cost{
        display: block;
        width: 100%;
        margin-bottom: 80px;
    }
}
@media only screen and (max-width: 630px) {
    .cart .cart-cost .cart-btn {
        display: block;
    }
    .quantity {
        display: block;
    }
    .cart .cart-product .item-img {
        display: none;
        width: 20%;
    }
    .cart .cart-product .item-name {
        margin-top: 0;
    }
}